<div class="container text-center">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, porro accusantium facere laboriosam maiores voluptatem in ullam nostrum voluptatibus expedita! Deserunt, fuga nam tempora iste repellat corrupti inventore iure dolor.</p>
</div>